@use "../../vfx" as vfx;

.header {
  &__nav{
    justify-self: center;
  
    display: flex;
    align-items: center;
    gap: 1.5rem;
    height: 100%;
  
    font-size: 1.5rem;
    font-weight: 500;
  }

  &__link {
    position: relative;
    isolation: isolate;
    overflow: hidden;

    padding: 0.5rem 2rem;
    border-radius: 1.75rem;
    z-index: 1;

    color: var(--text-primary);
    text-decoration: none;

    &:after {
      content: "";
      position: absolute;
      transform: translateY(100%);
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;

      border-radius: 1.75rem;
      z-index: -1;
      opacity: 0;

      @include vfx.glassGlow($depth: 0, $blur: 1px, $animate: 1);
    }

    &:hover,
    &--active {
      &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 0;

        @include vfx.hologramScanlinesAnimated($opacity: 0.6);
      }

      &:after {
        transition:
          opacity 80ms ease,
          transform 200ms ease;

        transform: translateY(0%);
        opacity: 1;
      }
    }

    &--active {
      transition: backdrop-filter 200ms ease;
      color: var(--text-on);

      backdrop-filter: blur(2px) saturate(180%);
      text-shadow: 0 0 6px rgba(0, 0, 0, 0.9);

      &:hover {
        backdrop-filter: blur(1px) saturate(140%);
      }
    }
  }
}