@mixin glassGlow($depth: 0, $blur: 1px, $animate: 0) {
  @if $depth > 0 {
    background:
      linear-gradient(
        135deg,
        rgba(255, 255, 255, 0.34),
        rgba(255, 255, 255, 0.08) 45%,
        rgba(255, 255, 255, 0.18)
      );
  }

  backdrop-filter: blur($blur) saturate(160%);

  box-shadow:
    inset 0 1px 1px rgba(255, 255, 255, 0.5),
    inset 0 -1px 2px rgba(0, 0, 0, 0.25),
    0 0 1px rgba(248, 248, 248, 0.25),
    0 0 1px rgba(197, 197, 197, 0.25);

  @if $animate > 0 {
    transition:
        opacity 240ms ease,
        transform 170ms ease,
        box-shadow 200ms ease,
        background 200ms ease,
        backdrop-filter 200ms ease;
  }
}