@import "tailwindcss";

:root {
  --background: #280e56;
  --foreground: #f8f8f8;

  /* Font colors */
  --text-primary: #f8f8f8;
  --text-secondary: #652AFF;
  --text-on: #ffad12;
  --text-muted: rgba(248, 248, 248, 0.55);
  --text-disabled: rgba(248, 248, 248, 0.35);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #280e56;
    --foreground: #f8f8f8;
  }
}

body {
  background: var(--background);
  background-image: url(../public/images/background.png);
  background-size: 100% auto;
  background-repeat: repeat-y;
  color: var(--foreground);

  font-family: "NeueAachenProBook", sans-serif;
}

@font-face {
  font-family: "NeueAachenProThin";
  src:
    url("/fonts/NeueAachenProThin/font.woff2") format("woff2"),
    url("/fonts/NeueAachenProThin/font.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NeueAachenProBook";
  src:
    url("/fonts/NeueAachenProBook/font.woff2") format("woff2"),
    url("/fonts/NeueAachenProBook/font.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NeueAachenProMedium";
  src:
    url("/fonts/NeueAachenProMedium/font.woff2") format("woff2"),
    url("/fonts/NeueAachenProMedium/font.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}