:root {
  --header-height: 5rem;
  --footer-height: 3rem;
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  z-index: 10;
}

.main {
  width: 100%;
  height: 100vh;
  padding-top: var(--header-height);
  overflow-y: auto;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: var(--footer-height);
  z-index: 10;
}

.main--scroll-edge-top::before,
.main--scroll-edge-bottom::before {
  content: "";
  position: fixed;
  left: 0;
  width: 100%;
  height: 24rem;
  pointer-events: none;
  z-index: 9;

  background-image: url("/images/navigation_glow_strip.png");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
}

.main--scroll-edge-bottom::before {
  bottom: 0;
}

.main--scroll-edge-top::before {
  top: 0;
  transform: scaleY(-1);
}